.btn {
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 1rem;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.btn {
	display: block;
}

.btn:focus {
	outline: 0;
}

.btn-outline-white {
	color: #fff;
	border-color: #fff;
	margin-bottom: 14px;
	font-size: 0.7rem;
	letter-spacing: 0.2rem;
	font-weight: 700;
}

.btn-outline-white:hover {
	color: $heading-color;
	background-color: #fff;
}

@media (min-width: 500px) {
	.btn-outline-white {
		width: 60%;
	}
}

@media (min-width: 600px) {
	a.btn-outline-white {
		display: inline;
		margin-right: 10px;
	}
}
