// MOBILE STYLES ==============================
header {
	height: 77px;
	position: fixed;
	background: transparent;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.25rem;

	a.logo {
		width: 75px;
		margin-left: 3rem;

		img {
			width: 75px;
		}
	}

	.nav {
		margin-right: 3rem;

		ul {
			margin-top: 16px;

			a {
				display: block;
				padding: 0 1rem;
			}

			a.active {
				color: $green-accent;
			}
		}
	}
}

// DESKTOP STYLES ============================
@media (min-width: 800px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nav {
			ul {
				display: flex;
			}
		}
	}
}
